*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.csv
!resources
!resources/*
!ref/
!ref/*
!envs
!envs/*
!environment.yaml
!LICENSE.md
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
